/*

This code was made with 🤍 for dev.glowUp Youtube Channel
    #CodingTrends Series   |   nº2 Text hover image effect and custom cursor

    ⚡️VIDEO: 

    ✨Youtube:   https://www.youtube.com/channel/UCo9OcY66VYb4BgFBwvEdCLw
    ✨Github:    https://github.com/dev-glowUp
    ✨Website:   https://dev-glowup.myportfolio.com/
    ✨Medium:    https://medium.com/dev-glowup
    ✨Pinterest: https://www.pinterest.pt/dev_glowup/

    🌟 Follow & Subscribe for more.. Thank you! 🌟

    Created by Beatriz Novais

 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

:root {
    /* COLORS */
    --background1: #5a5d59;
    --background2: #323432;
    --font_color:  #cececd;
}

/* CUSTOM CURSOR */
.hasCursor {
    cursor: -webkit-image-set(url(i-circle--white@2x.png) 1x, url(i-circle--white@2x.png) 2x) 7 7,pointer;
}

.hasCursorORANGE {
    cursor: -webkit-image-set(url(i-circle--orange@2x.png) 1x, url(i-circle--orange@2x.png) 2x) 7 7,pointer;
}

.mainBody {
    background: linear-gradient(to top left, var(--background1), var(--background2));
    height: 100vh;
    padding: 0 7rem;
    padding-top: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* COUNTER*/
    counter-reset: section;
}


.text-tag > p {
    position: relative;
    z-index: 2;
    font-size: 60px;
    letter-spacing: 1px;
    color: var(--font_color);
}

/* COUNTER*/

.text-tag > p::after {
    position: relative;
    top: -45px;
    padding-left: 15px;
    font-size: 18px;
    counter-increment: section;
    content: counter(section,decimal-leading-zero);
}

/* HOVER IMAGE EFFECT */

.tag-image {
    position: relative;
    z-index: 0;
    top: -230px;
    left: 15px;
    opacity: 0;
    visibility: hidden;
}



