* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hasCursor {
    cursor: -webkit-image-set(url(i-circle--white@2x.png) 1x, url(i-circle--white@2x.png) 2x) 7 7,pointer;
}

.hasCursorORANGE {
    cursor: -webkit-image-set(url(i-circle--orange@2x.png) 1x, url(i-circle--orange@2x.png) 2x) 7 7,pointer;
}

.mainBody {
    background: linear-gradient(to top left, #5a5d59, #323432);
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}

.image-tag .image-tag-image {
    position: fixed;
    z-index: 0;
    transition: opacity .5s,visibility .1s .5s;
    opacity: 0;
    visibility: hidden;
}

.image-tag {
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 1px;;
    margin-bottom: 20px;
    line-height: 67px;
    padding-right: 25px;
    position: relative;
    color: #cececd;
    display: inline-block;
    margin-bottom: 0;
}


.image-tag:hover .image-tag-image {
    transition: opacity .5s;
    opacity: 1;
    visibility: visible;
    /* background-color: red; */
}

.image-tag::after {
    margin-left: 4px;
    position: relative;
    top: -45px;
    font-size: 18px;
    counter-increment: section;
    content: counter(section,decimal-leading-zero);
}